# Node Modules:
node_modules/
client/node_modules/
server/node_modules/


#build files:
client/build/
dist/

#logs:
*.log

# enviromental variables:
.env

# OS files
.DS_Store
Thumbs.db

# VS Code settings
.vscode/

# Dependency lock files (optional, only if you don’t want to track them separately)
# yarn.lock

# Misc
npm-debug.log*
yarn-debug.log*
yarn-error.log*





