footer {
  background-color: #0f0f0f;
  color: #aaa;
  text-align: center;
  padding: 2.5rem 0;
  font-size: 0.95rem;
  border-top: 1px solid #222;
  font-family: 'Segoe UI', sans-serif;
  margin-top: 4rem;
}

footer p {
font-size: small;
  margin: 0;
  color: #ccc;
  letter-spacing: 0.5px;
}

footer p::before {
  content: "© ";
}

footer:hover {
  background-color: #151515;
}
